

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>All our flats</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>All (<%= @flats.count %>) flats</p>
    </div>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-4">
        <%= render 'shared/card', flat: flat %>
      </div>
    <% end %>
  </div>
</div>
